__pycache__/
*.pyc

.venv/
venv/

.ipynb_checkpoints/

data/raw/
data/processed/
data/*.db

models/*.joblib

.DS_Store
Thumbs.db

# Logs
logs/
*.log


.env
mlflow.db
__pycache__/
.pytest_cache/
.ruff_cache/


